<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.business-mapper">
	<!-- 캠핑장 삭제 -->
	<delete id="campDelete">
		delete from tbl_camp
		where camp_no = #{camp_no}
	</delete>

	<!-- 내가올린 캠핑장 조회, 페이징 -->
	<select id="myCampList" resultType="campVo">
		select * 
		from(select rownum rnum, a.* 
    		from(select * from tbl_camp
        		where user_id = #{user_id}
        		order by camp_no desc)a) 
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 캠핑장 선택 -->
	<select id="selectMyCamp" resultType="campVo">
		select * from tbl_camp
		where camp_no = #{camp_no}
	</select>
	
	<!-- 캠핑장 갯수 -->
	<select id="getCount" resultType="int">
		select count(*) from tbl_camp
		where user_id = #{user_id}
	</select>
</mapper>