<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.campingFaq-mapper">
	
	<!--  자주묻는 질문 -->
	<select id="faqList" resultType="FaqVo">
		select * from(
			select rownum rnum, a.* from(
        		select * from tbl_faq order by faq_no desc
        	)a)
		where rnum between #{startRow} and #{endRow}
	</select>
		<!-- 자주묻는 질문 갯수 -->
	<select id="getCount" resultType="int">
		select count(*) from tbl_faq
	</select>
	
	<!-- 자주묻는 질문 보기 -->
	<select id="selectByfaq" resultType="faqVo">
		select * from tbl_faq
		where faq_no = #{faq_no}
	</select>
	<!-- 자주 묻는 질문 조회수 -->
	<update id="faqViewCount">
		update tbl_faq set
    		faq_view = faq_view + 1
		where faq_no = #{review_no}
	</update>
</mapper>