<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.campingNotice-mapper">
	
	<!-- 공지사항 목록 -->
	<select id="campNoticeList"  resultType="CampNoticeVo">
		select * from tbl_notice
	</select>
	<!--  공지사항 내용 -->
	<select id="singleContentsCampNotice" resultType="CampNoticeVo">
			select * from tbl_notice
			where notice_no = #{notice_no}
	</select>
	
	<!--  조회수 증가 -->
	<update id="updateNoticeView">
	 	update tbl_notice set
		notice_view  =  notice_view + 1
		where notice_no = #{notice_no}
	</update>
	<!--  캠핑장 공지시항 게시물 수  -->
	<select id="campingNoticeListCount" resultType="int">
	        select count(*) from tbl_notice
        	<include refid="search"></include>
	</select>
	<!--  캠핑장 공지사항 페이징 -->
	<select id="noticeListPage" resultType="CampNoticeVo">
	        	select *
						from(select rownum rnum, a.*
    						  from(select * from tbl_notice
								<include refid="search"></include>
          					  order by notice_no desc) a)
						where rnum between #{startRow} and #{endRow}
	
	</select>
	
	<!--  검색 -->
 	<sql id ="search">
    		<if test="searchCnd != null">
  		  		<choose>
  		  			<when test='searchCnd == "t"'>
  		  				where notice_title like '%' || #{textReview} || '%' and notice_admin = 0
  		  			</when>
  		  			<when test='searchCnd == "n"'>
  		  				where notice_no like '%' || #{textReview} || '%' and notice_admin = 0 
  		  			</when>
  		  			<otherwise>
  		  			where notice_admin = 0
  		  			</otherwise>
  		  		</choose>
    		</if> 	
 	</sql>	
	

</mapper>